@use '../abstract' as *;

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: $color-text-primary;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-2xl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

p {
  margin: 0;
}

strong,
b {
  font-weight: $font-weight-semibold;
}

small {
  font-size: $font-size-sm;
}