spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: libraryuser
    password: librarypassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

security:
  jwt:
    secret: "kfb2r932bf38f0348fn03h402djwiqh7"