spring:
  datasource:
    url: jdbc:h2:mem:library-test;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  h2:
    console:
      enabled: true

logging:
  level:
    root: WARN
    com.dhruv.library: INFO
