@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  @include card;
  @include slide-up;
  width: min(100%, 42rem);
  border: 1px solid $border-color;
}

.title {
  margin-bottom: $spacing-lg;
  font-size: $font-size-xl;
  text-align: center;
  color: $primary-color;
  font-weight: $font-weight-bold;
}
.banner {
  width: 100%;
  padding: $spacing-md;
  text-align: center;
  margin-bottom: $spacing-md;
  color: $white;
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  border: 2px solid darken($primary-color, 10%);
  border-radius: $border-radius-lg;
  background: linear-gradient(180deg, rgba($primary-color, 0.9), rgba($primary-color, 0.75));
}

.form {
  @include flex-column;
  gap: $spacing-md;
}

.button {
  @include button-primary;
  width: 100%;
  margin-top: $spacing-sm;
}