@use '../abstracts' as *;
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: var(--color-text);
}

code {
    font-family: $font-family-mono;
}