@use '../abstracts' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-2xs;
  padding: $space-065 1.4rem;
  border-radius: $radius-pill;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
  box-shadow: var(--shadow-2);
}

.btn-ghost {
  border: $border-width solid var(--color-border);
  color: var(--color-ink-soft);
  width: 100px;
}

.btn:focus-visible {
  @include focus-ring;
}
