@use '../abstracts' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $background-white;
    border-bottom: 1px solid $secondary;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: $SM;
        gap: $SM;
    }

    .logo {
        h1 {
            color: $primary;
            width: 20rem;
            
            span {
                color: black;
            }
        }
    }

    .navbar {
        display: flex;
        width: 100%;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            text-decoration: none;
            gap: $LG;

            @media (max-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: $SM;
            }

            li {
                text-decoration: none;
                font-size: $baseFontSize;

                a {
                    text-decoration: none;
                    color: $text-dark;
                    font-weight: 500;

                    &:hover {
                        color: $primary;
                    }

                    @media(max-width: 768px) {
                        font-size: small;
                    }
                }
            }
        }
    }
}