*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
