.loader {
  @include flex-center;
  padding: $spacing-xl;
  width: 100%;
}

.fullScreenLoader {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($bg-primary, 0.9);
  backdrop-filter: blur(4px);
  z-index: $z-index-modal;
}

.loaderContent {
  @include flex-column-center;
  gap: $spacing-lg;
}

.spinner {
  position: relative;
  display: inline-block;

  &.small {
    width: 24px;
    height: 24px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &.large {
    width: 64px;
    height: 64px;
  }
}

.spinnerCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: $primary-color;
  border-radius: $border-radius-full;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  &:nth-child(1) {
    animation-delay: -0.45s;
  }

  &:nth-child(2) {
    animation-delay: -0.3s;
  }

  &:nth-child(3) {
    animation-delay: -0.15s;
  }
}

.small .spinnerCircle {
  border-width: 2px;
}

.large .spinnerCircle {
  border-width: 4px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  font-size: $font-size-base;
  color: $text-secondary;
  font-weight: $font-weight-medium;
  text-align: center;
  margin: 0;
}
